[Unit]
Description=Updating mirrors
Wants=network-online.target
After=network-online.target
OnFailure=failure-notification@%n
[Service]
Type=oneshot
ExecStart=/etc/scrollbook/reflector.sh
[Install]
WantedBy=multi-user.target