[Unit]
Description=Updating system
Wants=network-online.target
After=network-online.target
OnFailure=failure-notification@%n
Requires=update-mirrors.service
After=update-mirrors.service
[Service]
Type=oneshot
ExecStart=/etc/scrollbook/updateNclean.sh
[Install]
WantedBy=multi-user.target